
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NPL</title>
</head>
<body>
    <section>
        <form class="form">
            <input id="name" type="text" name="input" value="" placeholder="Search" class="text">
            <input type="submit" name="submit" value="SUBMIT" class="button">
        </form>
    <section>

    <section>
        <h1 class="result"><strong>Form Results</strong></h1>
        <div id="polarity">
            <h2>Polarity:</h2>
            <p class="polarity"></p>
        </div>
        <div id="subjectivity"></div>
    </section>
    <script>
        if('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            });
        }
    </script>    
</body>
</html>