body {
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    .text {
        padding: 2rem 4rem;
        border-radius: 25px;
    }

    .button {
        padding: 2rem;
        background: black;
        color: white;
        margin-left: 0.5rem;
        border-radius: 25px;
    }
}

.result {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

#polarity {
    margin-left: 5rem;
}

